body{
    background-color: black;
}
.titulo{
    text-align: center;
    color: white;
    background-color: blue;
    padding: 10px;
}
.png01{
    text-align: center;
    display: block;
}
.texto{
    text-align: center;
    color: white;
}
.t01{
    background-color: blue;
    padding: 10px;
}
.t02{
    background-color: blue;
    padding: 10px;
}
.t03{
    background-color: blue;
    padding: 10px;
}